.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/src/main/res/raw/ballons.wav
app/src/main/res/raw/banjo.wav
app/src/main/res/raw/clarinet.wav
app/src/main/res/raw/ds.wav
app/src/main/res/raw/ebow.wav
app/src/main/res/raw/electribe.wav
app/src/main/res/raw/electric_bass.wav
app/src/main/res/raw/flute_piano.wav
app/src/main/res/raw/guitar.wav
app/src/main/res/raw/harmon_trumpet.wav
app/src/main/res/raw/information.wav
app/src/main/res/raw/love.wav
app/src/main/res/raw/mallet.wav
app/src/main/res/raw/omnichord_qchord.wav
app/src/main/res/raw/pad_synth.wav
app/src/main/res/raw/piano_tender.wav
app/src/main/res/raw/strings.wav
app/src/main/res/raw/vocals.wav
app/src/main/res/raw/acoustic_guitar.wav
app/src/main/res/raw/rhodes.wav
app/app-release.apk
app/com.forestwave.pdc8g1.forestwave.zip
app/main.2.com.forestwave.pdc8g1.forestwave.obb
app/manifest-merger-release-report.txt
